/***** Color Glossary - DarkGrey *****
Greys
* #151515 - extreme dark grey (main color)
* #525252 - medium grey
* #D4D4D4 - light grey

* #EAEAEA - plain text
* #B5E85E - bright green (attention color)
* #63C0F5 - light blue (links)
* #227799 - dark blue (links on light color)

* #000000 - black
* #FFFFFF - white

* #FFFFFF - highlight + note
* #FF6257 - notice
* #EAFF00 - warn
*/

h1, h2 { color: #B5E85E; }
h3, h4, h5, h6 { color: #999999; }
a { color: #63C0F5; }
p, strong, em { color: #EAEAEA; }
pre { color: #B5E853; border-color: rgba(255, 255, 255, 0.15); background-color: rgba(0, 0, 0, 0.9); }
blockquote { border-color: #CCCCCC; background-color: #000000; } blockquote:before, blockquote:after { color: #CCCCCC; }
th { border-color: #B5E853; }
hr { border-color: #B5E853; } /* horizontal line */
ul, ol { color: #FFFFFF; } /* bullets and color */

body { background: #D4D4D4; }
.main { background: #474747; border-color: #878787; }
    
header { border-color: #B5E853; }
footer, nav { background-color: #D4D4D4; }
footer a, nav a { color: #227799; }
footer span, nav p { color: #000000; }

.postg { background-color: #B5E853; }
.postg a { color: #227799; }
.postg h1, .postg h2, .postg h3, .postg h4, .postg h5, .postg h6, .postg p { color: #000000; }
.post { border-color: #000000; }

/* important text colors */
.notice { color: #FF6257; }
.warn { color: #EAFF00; }
.note { color: #FFFFFF; }
.highlight { color: #FFFFFF; border-color: #B5E85E; }

/* buttons */
.button, .button-noclick { color: #333333; }

/* rows */
.row_box { border-color: #000000; }
.row:nth-child(odd) { background: #000000; }

#lite-switcher { border-color: #777; }
