---
---
<!DOCTYPE html>
<html class="no-js deadcream">
    <head>
        {% include snippets/head.html %}
        
        <!-- site verifications -->
        <meta name="google-site-verification" content="tIKYlqXiYdste3OCdWdRb-Z8y7G6jLEa3yy5XAmh5M4" />
        <meta name="wot-verification" content="918bd559834ad18a88b3" /> 
        
        <!-- site description -->
        <meta name="description" content="NixTuts is a site filled with tutorials. We aim to help *nix users, spread knowledge of *nix and help the Open Source/Free Software community!">
        
        <title>NixTuts</title>
    </head>

    <body>    
        <nav class="clearfix" role="navigation">
            {% include snippets/nav.html %}
        </nav>

        <div class="main clearfix" role="main">
            <header class="clearfix" role="banner">
                 {% include snippets/header.html %}
                 {% include snippets/searchbar.html %}
            </header>
     
            <div class="content clearfix" role="article">
            	<div class="clearfix">
            		<div class="postg expand clearfix">
            			<h1>IRC Client</h1>
						<div class="post clearfix">
							<p>This web IRC client is powered by <a href="https://kiwiirc.com/">kiwiiirc.com</a> and connects to <a href="irc://irc.spotchat.org/NixTuts">irc.spotchat.org</a>, #NixTuts, the main channel of NixTuts. If you have a desktop IRC client, you can access <a href="/about">About</a> for the full list of IRC channels available and select one already on an IRC network which you use.</p>
							<a id="kiwiirc-button" class="button arrowdown">Click to display KiwiIRC</a>
							<br />
							<div id="kiwiirc-iframe"></div>
            			</div>
            		</div>
            	</div> 
            
				<div class="posts clearfix">					
			        {% for category in site.categories %}
			        <div class="postg clearfix"> 
			        <h1>{{ category | first | replace: "-", " "}}</h1>
			
			        {% for post in category.last limit:2 %}
			        <div class="post clearfix">
			            {% if post.status == "draft" %}
			                <a href="{{post.url}}">[Draft] {{post.title}}</a>
			            {% else %}
			                <a href="{{post.url}}">{{post.title}}</a>
			            {% endif %}
			
			            {% if post.summary != null %}
			                <p>{{ post.summary }}</p>
			            {% endif %}
			        </div>
			        {% endfor %}
			
			        <p>More at: <a href="/search.html?category={{ category | first }}">{{ category | first }}</a></p>
			        </div>
			        {% endfor %}
					
					{% for post in site.posts limit:10 %}
					    <h1 class="post_title"><a href="{{post.url}}">{{post.title}}</a></h1>
						
						{% if post.status == 'post' or post.status == 'draft' %}
                        <h3 class="post_date">Posted on {{ post.date | date: "%d %B %Y" }}</h3>
						{% endif %}
						
						{% if post.author != null %} 
							<h3 class="post_author">By: {% for author in post.author %}<a class="button icon tag pill" href="/search.html?authors={{author}}">{{author}}</a> {% endfor %} </h3> 
						{% endif %}
						
						{% if post.tags != null %}
							<h3 class="post_tags">Tags: {% for tag in post.tags %}<a class="button icon tag pill" href="/search.html?tags={{tag}}">{{tag}}</a> {% endfor %} </h3>
						{% endif %}    
						
						{% if post.status == 'draft' %}
							<h3 class="warn post_banner">This tutorial is a draft and pending validation. You may see weird formatting/incomplete content.</h3>
						{% endif %}
						
						{% if post.summary != null %} 
							<p class="larger">{{ post.summary }}</p>
						{% endif %}
						
						{{ post.content | more: "excerpt" }}
						
						<p class="larger">Read more at <a href="{{post.url}}">{{post.title}}</a></p>
					{% endfor %}
				</div>
            </div>

            <div class="sidebar clearfix">
                {% include snippets/sidebar.html %}
            </div> 
        </div> 

        <footer>
            {% include snippets/footer.html %}
        </footer>

        {% include snippets/after.html %}
        <script> var button = $("#kiwiirc-button"); button.click(function(){ $('<iframe/>', { 'src': 'https://kiwiirc.com/client/irc.spotchat.org/?nick=kiwi_guest|?#NixTuts', 'style': 'border: 0; width: 100%; height: 450px;' }).appendTo($('#kiwiirc-iframe')); button.remove(); button = null; }); </script>
    </body>
</html>
