/* Elements */

html,
body {
    margin: 0;
    padding: 0;
    height: 94%;
    max-width: 100%;
}

body {
    font-size: medium;
}

img, object {
    max-width: 100%;
}

body, code, pre, samp {
    font-family: 'Ubuntu Mono', monospace;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal; font-family: Abel, sans-serif;
}
.content {
    font-family: Ubuntu, sans-serif;
}

a { 
    text-decoration: none;
}
a:hover {
    text-shadow: 0 0 3px;
    text-decoration: underline;
}

section {
    margin: 0 0 20px 0;
}

blockquote {
    margin: 1.5em 10px;
    padding: 20px;
    padding-left: 1.041666666%; /* closest possible value to 10/960 */
    border-left: 10px solid;
    quotes:"\201C""\201D";
    border-radius: 0 15px 15px 0;
    
    :before, :after {
        content: open-quote;
        font-size: 4em;
        line-height: .1em;
        
        margin-right: .25em;
        vertical-align: -.4em;
    }
    
    :after {
        content: no-close-quote;
    }
    
    p {
        display: inline;
    }
}

hr {
    height: 0;
    border: 0;
    border-bottom: 1px dashed;
}

.main {
    width: 85%;
    min-height: 105%;
    
    padding: 2%;
    margin: auto;
    opacity: 0.8;
}

.content {
    width: 98%;
    padding: 1%;
    float: left;
}

header {
    width: 100%;
    float: left;
    clear: both;
    font-size: 150%;
    h1, p {
        margin: 10px;
    }
}

.posts {
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
}

nav, footer {
    padding: 5px 0;
    width: 100%;
    margin: 0;
    clear: both;
    z-index: 999;
    
    a {
        font-size: 110%;
    }
}

nav {
    position: fixed;
    top: 0;
    
    ul {
        margin: 0 auto;
        padding: 0;
        width: 90%;
    }
    
    li {
        list-style: none;
        display: inline;
        margin-right: 30px;
        a:hover {
            text-decoration: none;
        }
    }

    #sharebuttons {
        float: right;
    }
}

footer {
    bottom: 0;
    text-align: center;
}
footer span, nav a {
    margin: 0;
    padding: 0;
    width: 90%;
}

/* Theme Switcher */
.tile {
    float: right;
    width: 16px;
    height: 16px;
    display: block;
    z-index: 999;
    margin-left: 10px;
}

.author {
    height: 10px;
}

code, pre {
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

.larger {
    font-size: 125%;
    font-weight: bold;
}