/* Elements */

html,
body {
    margin: 0;
    padding: 0;
    height: 94%;
    max-width: 100%;
}

body { font-size: small; }

img, object {
    max-width: 100%;
}

body, code, kbd, pre, samp { font-family: 'Ubuntu Mono', monospace; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; font-family: Abel, sans-serif; }
.content { font-family: Ubuntu, sans-serif; }

a { text-decoration: none; }
a:hover {
    text-shadow: 0 0 3px;
    text-decoration: underline;
}

section { margin: 0 0 20px 0; }

blockquote {
    margin:1.5em 10px;
    padding: 20px;
    padding-left: 1.041666666%; /* closest possible value to 10/960 */
    border-left: 10px solid;
    quotes:"\201C""\201D";
    border-radius: 0 15px 15px 0;
    
    :before, :after {
        content: open-quote;
        font-size: 4em;
        line-height: .1em;
        
        margin-right: .25em;
        vertical-align: -.4em;
    }
    
    :after {
        content: no-close-quote;
    }
    
    p {
        display: inline;
    }
}

table {
    width: 100%;
    margin: 0 0 20px 0;
}

th {
    padding: 5px 1.041666666%; /* closest possible value to 10/960 */
    text-align: left;
    border-bottom: 1px dashed;
}

td { padding: 5px 1.041666666%; /* closest possible value to 10/960 */ }

hr {
    height: 0;
    border: 0;
    border-bottom: 1px dashed;
}

pre {
    border-radius: 10px;
    
    overflow: auto;
    overflow-y: hidden;
}

dt {
    font-style: italic;
    font-weight: bold;
}

/* specific */

.main {
    width: 85%;
    min-height: 105%;
    
    padding: 2%;
    margin: auto;
    opacity: 0.8;
}

.content {
    width: 73%;
    padding: 1%;
    float: right;
}

.sidebar {
    width: 23%;
    padding: 1%;
}

header {
    width: 97%;
    margin: 10px;
    margin-top: 30px;
    clear: both;
}

.posts {
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
}

.postg {
    width: 47%;
    margin: 1%;
    display: inline-block;
    
    border-radius: 12px;
    text-align: center;
    
    h1, h2, h3, h4, h5, h6 {
        text-transform: capitalize;
    }
    
    a, p {
        text-transform: none;
    }
}
.postg.expand {
    width: 97%;
}

.post {
    width: 92%;
    margin: 2%;
    margin-left: 6%;
    padding: 2%;
    float: right;
    
    border: 1px solid;
    border-radius: 12px;
    text-align: center;
    
    p {
        margin: 0;
        padding: 0;
    }
    
    a {
        text-decoration: underline;
        font-size: 120%;
    }
}

nav, footer {
    padding: 5px 0;
    width: 100%;
    margin: 0;
    clear: both;
    z-index: 999;
    
    a {
        font-size: 110%;
    }
}

nav {
    position: fixed;
    top: 0;
    
    ul {
        margin: 0 auto;
        padding: 0;
        width: 90%;
    }
    
    li {
        list-style: none;
        display: inline;
        padding: 0 5%;
    }
}

footer {
    bottom: 0;
    text-align: center;
}
footer span, nav a {
    margin: 0;
    padding: 0;
    width: 90%;
}

.addthis_toolbox {
    padding: 30px 0;
}

#search input[type="search"] {
    border: 0 none;
    width: 150px;
    padding: 6px 15px;
    border-radius: 20px;
}

.row_box { 
	border-style: solid; 
	border-width: 2px;
}
.row:nth-child(1n+0) { 
	text-align: center;
	padding: 5px; 
}

/* Theme Switcher */
.tile {
    float: right;
    width: 16px;
    height: 16px;
    display: block;
    z-index: 999;
    margin-left: 10px;
}

/* Lite Switcher */
#lite-switcher {
    position: fixed;
    opacity: 0.8;
    top: 90%;
    left: 90%;
    width: 20px;
    height: 20px;
    border-style: solid;
    border-width: 2px;
    background-image: url("/img/minus.gif");
    z-index: 999;
}

#lite-switcher-container {
    z-index: 998;
}

#home-link:hover {
    text-decoration: none;
}

.ss-share {
    padding-left: 0;
    list-style: none;
}

.ss-share-item {
    display: inline;
    margin-right: 1em;
}

.ss-share-link {
    /* crude button styles */
    text-decoration: none;
    color: #444;
    font-weight: bold;
    padding: .5em .75em .5em 35px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 2px;
    
    :hover, :active, :focus {
        color: #891434;
    }
}

[class*="ico-"] {
    display: inline-block;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: 10px center;
}

.ico-facebook { background-image: url("/img/icons/facebook.ico"); }
.ico-twitter { background-image: url("/img/icons/twitter.ico"); }
.ico-google { background-image: url("/img/icons/google.ico"); }
.ico-rss { background-image: url("/img/icons/rss.ico"); }
.ico-email { background-image: url("/img/icons/email.ico"); }

.larger {
    font-size: 125%;
    font-weight: normal;
}

/* Modernizr stuff */

.no-js.no-js_hide {
    display: none;
}

.no-js .no-js_show {
    display: block;
}

/* Mobile */

@media screen and (max-width: 480px) {
    /* Mobile interface fixes */
    body {
        font-size: medium;
        max-width: 100%;
    }
    
    .sidebar, .content, header {
        clear: both;
        position: static;
        width: 90%;
        margin: auto 5%;
    }
    
    .posts {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    /* Navigation fixes */
    
    nav {
        position: static;
    }
    
    /* larger text */
    nav a {
        font-size: 120%;
    }
    
    nav ul {
        margin: 0;
        padding: 0;
        width: 100%;
        float: left;
        height: auto;
    }
    
    nav li {
        width: 100%;
        padding: 0;
        margin: 0;
        
        /* put space to make tapping easier */
        margin-bottom: 10px;
        
        display: block;
        text-align: center;
    }
    
    nav a {
        padding: 0 10px; /* put space to make tapping easier */
    }
    
    nav a#pull {
        float: right;
        padding: 0;
        margin: 0;
        margin-right: 10px; /* leave some spacing */
    }
    
    /* ultra squeeze removed */
    
    .postg, .postg.expand {
        width: 100%;
        clear: both;
        margin: 10px 0 !important;
        float: right !important;
    }
    
    /* to prevent covering the footer */
    footer {
        margin-bottom: 30px;
    }
}

/* Tablet */

@media screen and (min-width: 481px) and (max-width: 1024px) {
    /* Mobile interface fixes */
    body {
        font-size: medium;
        max-width: 100%;
    }
    
    .sidebar, .content, header {
        clear: both;
        position: static;
        width: 90%;
        margin: auto 5%;
    }
    
    .posts {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    /* Navigation fixes */
    
    nav {
        position: static;
    }
    
    nav a {
        font-size: 120%;
    }
    
    nav ul {
        margin: 0;
        padding: 0;
        width: 100%;
        float: left;
        height: auto;
    }
    
    nav li {
        width: 40%;
        display: inline-block;
        padding: 1%;
        margin: 3%;
        
        /* reset top and bottom */
        padding-top: 0; padding-bottom: 0;
        margin-top: 0; margin-bottom: 0;
    }
    
    nav a#pull {
        text-align: left;
        width: 100%;
        text-indent: 25px;
    }
    
    /* ultra squeeze removed */
    
    .postg.clearfix {
        width: 100%;
        clear: both;
        margin: 10px 0 !important;
        float: right !important;
    }
}

/* Desktop */

@media screen and (min-width: 1025px) {
    
}

/* Printer */

@media print {
    * {
        border-style: none !important;
        background: transparent !important;
        box-shadow:none !important;
        color: #000000 !important; /* Black prints faster: h5bp.com/s */
        text-shadow: none !important;
    }
    
    a[href]:after {
        content: " (" attr(href) ")";
    }
    
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    
    /*
    * Don't show links for images, or javascript/internal links
    */
    
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
        content: "";
    }
    
    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    
    thead {
        display: table-header-group; /* h5bp.com/t */
    }
    
    tr, img {
        page-break-inside: avoid;
    }
    
    @page {
        margin: 0.5cm;
    }
    
    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }
    
    h2, h3 {
        page-break-after: avoid;
    }
    
    /* Links are in black - prints fast */
    a, a:visited {
        color: #000000;
        text-decoration: underline;
    }
    
    @page {
        margin: 0.5cm;
    }
    
    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }
    
    h2, h3 {
        page-break-after: avoid;
    }
    
    /* reset buttons styles */
    .button, .button-noclick {
        margin: 0;
        padding: 0;
    }
    
    /* Hide stuff! */
    nav, .sidebar, #search, .post_tags, .post_banner, .related_posts, .postg, .postg.expand, #announcements, .book_return, .addthis_toolbox, #disqus_thread  {
        display: none;
    }
    
    /* Links are in black - prints fast */
    a, a:visited {
        color: #000000;
        text-decoration: underline;
    }
}
