/* Elements */

html,
body {
    margin: 0;
    padding: 0;
    height: 94%;
    max-width: 100%;
}

body { font-size: small; }

img, object {
    max-width: 100%;
}

body, code, kbd, pre, samp { font-family: Inconsolata, monospace; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; font-family: Abel, sans-serif; }
.content { font-family: Ubuntu, sans-serif; }

a { text-decoration: none; }
a:hover {
    text-shadow: 0 0 3px;
    text-decoration: underline;
}

section { margin: 0 0 20px 0; }

pre {
    padding: 10px;
    padding-left: 1.041666666%; /* closest possible value to 10/960 */
    padding-right: 1.041666666%;
} 

blockquote {
    margin:1.5em 10px;
    padding: 20px;
    padding-left: 1.041666666%; /* closest possible value to 10/960 */
    border-left: 10px solid;
    quotes:"\201C""\201D";
   -webkit-border-radius: 0 15px 15px 0; border-radius: 0 15px 15px 0;
}
blockquote:before, blockquote:after {
    content: open-quote;
    font-size: 4em;
    line-height: .1em;
    
    margin-right: .25em;
    vertical-align: -.4em;
}
blockquote:after { content: no-close-quote; }
blockquote p { display: inline; }

table {
    width: 100%;
    margin: 0 0 20px 0;
}

th { 
	padding: 5px 1.041666666%; /* closest possible value to 10/960 */
    text-align: left;
    border-bottom: 1px dashed;
}

td { padding: 5px 1.041666666%; /* closest possible value to 10/960 */ }

hr {
    height: 0;
    border: 0;
    border-bottom: 1px dashed;
}

pre {
    border: 1px solid;
    -webkit-border-radius: 10px; border-radius: 10px;
    
    overflow: auto;
    overflow-y: hidden;
} 

dt {
    font-style: italic;
    font-weight: bold;
}

/* specific */

.main {
    width: 85%;
    min-height: 105%;
    
    padding: 2%;
    margin: auto;
    opacity: 0.8;
}

.content {
    width: 73%;
    padding: 1%;
    float: right;
}

.sidebar {
    width: 23%; 
    padding: 1%;
}

header {
    width: 97%;
    margin: 10px;
    margin-top: 30px;
    clear: both;
}

.posts {
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
}

.postg {
    width: 47%;
    margin: 1%;
    display: inline-block;
    
    -webkit-border-radius: 12px; border-radius: 12px;
    text-align: center;
}
.postg.expand {
    width: 97%;
}

.postg h1, .postg h2, .postg h3, .postg h4, .postg h5, .postg h6 {
    text-transform: capitalize;
}
.postg a, .postg p {
	text-transform: none;
}

.post {
    width: 92%;
    margin: 2%;
    margin-left: 6%;
    padding: 2%;
    float: right;
    
    border: 1px solid;
    -webkit-border-radius: 12px; border-radius: 12px;
    text-align: center;
}
.post p {
    margin: 0;
    padding: 0;
}
.post a {
    text-decoration: underline;
    font-size: 120%;
}

nav, footer {
    padding: 5px 0;
    width: 100%;
    margin: 0;
    clear: both;
    z-index: 999;
}
nav a, footer a { font-size: 110%; }

nav {
    position: fixed;
    top: 0;
}
nav ul {
    margin: 0 auto;
    padding: 0;
    width: 90%;
}
nav li {
    list-style: none; 
    display: inline;
    padding: 0 5%;
}

footer { bottom: 0; text-align: center; }
footer span, nav a {
    margin: 0;
    padding: 0;
    width: 90%;
}

.addthis_toolbox {
	padding: 30px 0;
}

#search input[type="search"] {
    border: 0 none;
    width: 150px;
    padding: 6px 15px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.row_box { border-style: solid; border-width: 2px; }
.row:nth-child(1n+0) { text-align: center; padding: 5px; }

.highlight { -webkit-border-radius: 15px; border-radius: 15px; border: 1px solid; padding: 10px; }
.note { font-size: 90%; padding-left: 10px; text-decoration: underline; }

/* Theme Switcher */
.tile {
	float: right;
    width: 16px;
    height: 16px;
    display: block;
    z-index: 999;
    margin-left: 10px;
}

/* Lite Switcher */
#lite-switcher {
	position: fixed;
	opacity: 0.8;
	top: 90%;
	left: 90%;
	width: 20px;
	height: 20px;
	border-style: solid;
	border-width: 2px;
	background-image: url("/img/minus.gif");
	z-index: 999;
}

#lite-switcher-container {
	z-index: 998;
}

#home-link:hover {
	text-decoration: none;
}

.ss-share {
    padding-left: 0;
    list-style: none; 
}

.ss-share-item {
    display: inline;
    margin-right: 1em; 
}

.ss-share-link {
    /* crude button styles */
    text-decoration: none;
    color: #444;
    font-weight: bold;
    padding: .5em .75em .5em 35px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 2px; 
}

.ss-share-link:hover, .ss-share-link:active, .ss-share-link:focus {
      color: #891434; 
}

[class*="ico-"] {
    display: inline-block;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: 10px center; 
}

.ico-facebook { background-image: url("/img/icons/facebook.ico"); }
.ico-twitter { background-image: url("/img/icons/twitter.ico"); }
.ico-google { background-image: url("/img/icons/google.ico"); }
.ico-rss { background-image: url("/img/icons/rss.ico"); }
.ico-email { background-image: url("/img/icons/email.ico"); }
