---
title: Authors
layout: default
---
<div id="authors">
{% for author in site.authors %}
{% if author[1] %}
<div id="{{author[0]}}"></div>
<h1>{{author[1].name}}</h1>

{% if author[1].email %}
<h3>Email: <a href="mailto: {{author[1].email}}">{{author[1].email}}</a></h3>
{% endif %}

{% if author[1].web %}
<h3>Website: <a href="{{author[1].web}}">{{author[1].web}}</a></h3>
{% endif %}

{% if author[1].github %}
<h3>GitHub: <a href="https://github.com/{{author[1]/github}}">{{author[1].github}}</a></h3>
{% endif %}

{% if author[1].bio %}
<h3>Biography:</h3>
<p>{{author[1].bio}}</p>
{% endif %}
{% endif %}
{% endfor %}
</div>
