---
title: Authors
layout: default
---
<div id="authors">
{% for author in site.authors %}
{% if author[1] %}
<h1 class="author" id="{{author[0]}}">{{author[1].name}}</h1>

{% if author[1].email %}
<h2>Email: <a href="mailto: {{author[1].email}}">{{author[1].email}}</a></h2>
{% endif %}

{% if author[1].web %}
<h2>Website: <a href="{{author[1].web}}">{{author[1].web}}</a></h2>
{% endif %}

{% if author[1].github %}
<h2>GitHub: <a href="https://github.com/{{author[1]/github}}">{{author[1].github}}</a></h2>
{% endif %}

{% if author[1].bio %}
<h2>Biography:</h2>
<p>{{author[1].bio}}</p>
{% endif %}
{% endif %}
{% endfor %}
</div>
