<span class="copyright">NixTuts<sup>&#169;</sup> 2012 | <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a></span><br>
<span class="modify">Modified at <b>{{ site.time }} (YYYY-MM-DD HH:MM:SS)</b></span><br>
<span class="cloudflare">Powered by <a href="https://cloudflare.com">Cloudflare</a></span><br>
<br>
<span class="contactinfo">Contact info of the team may be found at <a href="/humans.txt">humans.txt</a>.</span><br>
<span class="sisterprojects">Sister projects: <a href="http://lm-wiki.appspot.com">lm-wiki</a></span><br>
