<meta charset='utf-8'/>
<meta name="HandheldFriendly" content="True" />
<meta name="MobileOptimized" content="320" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

<link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono|Ubuntu:300|Abel' rel='stylesheet' type='text/css' />

{% css_asset_tag all %}
- _assets/css/depend/normalize.css
- _assets/css/depend/clearfix.css

- _assets/css/all.scss
- _assets/css/mediaquery.scss
- _assets/css/modernizr.scss
- _assets/css/colors.scss
{% endcss_asset_tag %}

{% javascript_asset_tag all %}
- _assets/js/depend/jquery.js
- _assets/js/depend/modernizr.js
- _assets/js/functions/cookie.js

- _assets/js/mediaquery.js
{% endjavascript_asset_tag %}

<!-- support humans.txt! -->
<link type="text/plain" rel="author" href="/humans.txt" />
