<meta charset='utf-8'/>
<meta name="HandheldFriendly" content="True" />
<meta name="MobileOptimized" content="320" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

<!-- 
css color themes 
placed at the front to override
-->
<link rel="stylesheet" type="text/css" href="/css/colors/deadcream.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/css/colors/darkgrey.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/css/colors/lite.css" media="screen" />


<link href='http://fonts.googleapis.com/css?family=Inconsolata|Ubuntu:300|Abel' rel='stylesheet' type='text/css' />
<link rel="stylesheet" type="text/css" href="/css/depend.css" />
<link rel="stylesheet" type="text/css" href="/css/all.css" />

<!-- support humans.txt! -->
<link type="text/plain" rel="author" href="/humans.txt" />

<script type="text/javascript" src="/js/depend.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
