<ul>
	<li><a href="/" id="home-link"><img src='/favicon-invert.png' /> NixTuts</a></li>
    <li><a href='/about'>About</a></li>
    <li><a href='http://dams.insomnia247.nl/Public/Learnix.html'>Learnix</a></li>

    <div id="sharebuttons" class="clearfix">
    	<li>
    	<a class="ico-facebook" href="http://www.facebook.com/sharer.php?u=http://nixtuts.info{{page.url}}" rel="nofollow" target="_blank">
    	<img src="/img/icons/facebook.ico" alt="Facebook" height="16" width="16">
    	</a>
    	</li>

		<li>
		<a class="ico-twitter" href="http://twitter.com/share?text=Simple%20Social%20Sharing%20Buttons&url=http://nixtuts.info{{page.url}}" rel="nofollow" target="_blank">
		<img src="/img/icons/twitter.ico" alt="Twitter" height="16" width="16">
		</a>
		</li>

		<li>
		<a class="ico-google" href="http://plus.google.com/share?url=http://nixtuts.info{{page.url}}" rel="nofollow" target="_blank">
		<img src="/img/icons/google.ico" alt="Google+" height="16" width="16">
		</a>
		</li>

		<li>
		<a class="ico-rss" href="http://feeds.feedburner.com/nixtuts" rel="nofollow" target="_blank">
		<img src="/img/icons/rss.ico" alt="RSS Feed" height="16" width="16">
		</a>
		</li>
	</div>
</ul>
