<ul class="ss-share">
	<li>
		<a class="ico-facebook" href="http://www.facebook.com/sharer.php?u=http://nixtuts.info{{page.url}}" rel="nofollow" target="_blank"></a>
	</li>
	<li>
		<a class="ico-twitter" href="http://twitter.com/share?text=Simple%20Social%20Sharing%20Buttons&url=http://nixtuts.info{{page.url}}" rel="nofollow" target="_blank"></a>
	</li>
	<li>
		<a class="ico-google" href="http://plus.google.com/share?url=http://nixtuts.info{{page.url}}" rel="nofollow" target="_blank"></a>
	</li>
	<li>
		<a class="ico-rss" href="http://feeds.feedburner.com/nixtuts" rel="nofollow" target="_blank"></a>
	</li>
</ul>
