<ul class="ss-share">
	<li class="ss-share-item">
		<a class="ss-share-link ico-facebook" href="http://www.facebook.com/sharer.php?u=http://nixtuts.info{{page.url}}" rel="nofollow" target="_blank">Share on Facebook</a>
	</li>
	<li class="ss-share-item">
		<a class="ss-share-link ico-twitter" href="http://twitter.com/share?text=Simple%20Social%20Sharing%20Buttons&url=http://nixtuts.info{{page.url}}" rel="nofollow" target="_blank">Share on Twitter</a>
	</li>
	<li class="ss-share-item">
		<a class="ss-share-link ico-google" href="http://plus.google.com/share?url=http://nixtuts.info{{page.url}}" rel="nofollow" target="_blank">Share on Google+</a>
	</li>
	<li class="ss-share-item">
		<a class="ss-share-link ico-rss" href="http://feeds.feedburner.com/nixtuts" rel="nofollow" target="_blank">Subscribe to RSS feed</a>
	</li>
</ul>
