<p><a href="http://feeds.feedburner.com/newlinuxtuts"><img src="http://feeds.feedburner.com/~fc/newlinuxtuts?bg=B5E85E&amp;fg=444444&amp;anim=1" height="26" width="88" style="border:0" alt="" /></a></p>

<a class="twitter-timeline"  href="https://twitter.com/nixtuts"  data-widget-id="309306019299868672">Tweets by @nixtuts</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<h1>Tag Cloud</h1>
<div class='cloud'>
    {% tag_cloud %}
</div>

<br />

<p>Thank you to everyone who contributed to NixTuts!</p>
<a href='/humans.txt'><img src="/img/humanstxt.png" alt="humans.txt" width="88" height="31"/></a>
