<p><a href="http://feeds.feedburner.com/newlinuxtuts"><img src="http://feeds.feedburner.com/~fc/newlinuxtuts" height="26" width="88" alt="" /></a></p>

<a class="twitter-timeline"  href="https://twitter.com/nixtuts"  data-widget-id="309306019299868672">Tweets by @nixtuts</a>

<h1>Tag Cloud</h1>
<div class='cloud'>
    {% tag_cloud %}
</div>

<br />

<p>Thank you to everyone who contributed to NixTuts!</p>
<a href='/humans.txt'><img src="/img/humanstxt.png" alt="humans.txt" width="88" height="31"/></a>
