/***** Color Glossary - DeadCream *****
* #151515 - extreme dark grey (main color)
* #525252 - medium grey
* #D4D4D4 - light grey

* #EAEAEA - plain text
* #B5E85E - bright green (attention color)
* #63C0F5 - light blue (links)
* #227799 - dark blue (links on light color)

* #000000 - black
* #FFFFFF - white

* #FFFFFF - highlight + note
* #FF6257 - notice
* #EAFF00 - warn
*/

h1, h2 { color: #000; }
h3, h4, h5, h6 { color: #626262; }
a { color: #0DA4D3; }
p, strong, em { color: ##57676E; }
pre { color: #464547; border-color: rgba(62, 62, 62, 1); background-color: rgba(62, 62, 62, 0.4); }
blockquote { border-color: #000; background-color: #FFB3B3; } blockquote:before, blockquote:after { color: #FF006E; }
th { border-color: #000; }
hr { border-color: #000; } /* horizontal line */
ul, ol { color: #000; } /* bullets and color */

body { background: #000000; }
.main { background: #E7EEF2; border-color: #E7EEF2; }
    
header { border-color: #C3CCD0 ; }
footer, nav { background-color: #000; }
footer a, nav a { color: #9ACAD9; }
footer p, nav p { color: #37C400; }

.postg { background-color: #FFF; }
.postg a { color: #0DA4D3; }
.postg h1, .postg h2, .postg h3, .postg h4, .postg h5, .postg h6, .postg p { color: #214A50; }
.post { border-color: #FFF; }

/* important text colors */
.notice { color: #E50BDC; }
.warn { color: #7A1D76; }
.note { color: #452944; }
.highlight { color: #7A1D76; border-color: #0DA4D3; }

/* buttons */
.button, .button-noclick { color: #000; }

/* rows */
.row_box { border-color: #000; }
.row:nth-child(odd) { background: #FFF; } 

#lite-switcher { border-color: #777; }
